
@{
    ViewData["Title"] = "Received Orders";
}
@model IEnumerable<_666foodDelivery.Models.Order>
<h1>Available Orders</h1>

<table border="1">     
    <tr>
        
        <th>Customer Name</th>
        <th>Address</th>
        <th>PhoneNumber</th>
        <th>FoodName</th>
        <th>DeliverTime</th>
        <th>Quantity</th>
        <th>Accept</th>
    </tr>     
    @{int i = 0;}     
    @foreach (var order in Model)
{<tr>
    
    <td>@order.CustomerName</td>
    <td>@order.Address</td>
    <td>@order.PhoneNumber</td>
    <td>@order.FoodName</td>
    <td>@order.DeliverTime</td>
    <td>@order.Quantity</td>
    <td>
        @*asp-route-customerName="@order.CustomerName" asp-route-address="@order.Address" asp-route-phoneNumber="@order.PhoneNumber" asp-route-foodName="@order.FoodName" asp-route-deliverTime="@order.DeliverTime" asp-route-quantity="@order.Quantity"*@
        <a asp-route-id="@order.ID" asp-controller="Orders" asp-action="AcceptOrder">
            <button>Accept Orders</button>
        </a>
    </td>
</tr>i++;
} </table>