@model IEnumerable<_666foodDelivery.Models.Food>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="container">

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table table-bordered content-table" cellspacing="5">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FoodName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodProducedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredient)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoodProducedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ingredient)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="card-link" asp-controller="Admin" asp-action="Index">Back to Index</a>
</div>


<style>
    * {
        font-family: sans-serif
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }

        .content-table thead tr {
            background-color: #007bff;
            color: #ffffff;
            text-align: center;
            font-weight: bold
        }

        .content-table th,
        .content-table td {
            padding: 12px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .content-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3
            }

            .content-table tbody tr:last-of-type {
                border-bottom: 3px solid #007bff
            }
</style>